body {
    padding: 0;
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;

    background-color: #bbd4fb;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-status {
    background-color: #e8e7e4;

    border: 2px solid #00296b;
    border-radius: 20px;

    font-size: 1.7rem;
    font-weight: bold;

    width: 700px;
    height: 100px;

    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
} 

.buttons {
    display: flex;
    gap: 20px;
}

.start_btn,
.reset_btn {

    font-size: 1.3rem;
    font-weight: bold;

    border: 2px solid #00296b;
    border-radius: 20px;

    background-color: #e8e7e4;

    width: 170px;
    height: 60px;

    padding: 15px;
    margin-bottom: 20px;
} 


.start_btn:hover,
.reset_btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.start_btn:active,
.reset_btn:active {
    transform: scale(0.98);
}


.startBtn,
.closeBtn {
    font-size: 1rem;
    font-weight: bold;

    padding: 10px;

    width: 80px;
    height: 40;

    border: 2px solid #00296b;
    border-radius: 10px;
}

.startBtn:hover,
.closeBtn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.startBtn:active,
.closeBtn:active {
    transform: scale(0.98);
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}

input {
    border: 3px solid #00296b;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.board.disabled {
    cursor: not-allowed;
}

.symbol {
    border: 2px solid #c79c01;

    background-color: #e8e7e4;

    font-size: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

